body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    color: black;
  }
  
  .text {
    margin: 0;
    font-size: 24px;
    margin-left: 4rem;
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .menu li a {
    color: black;
    text-decoration: none;
  }
  
  .mobile-menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .mobile-nav {
    display: none;
  }
  
  .mobile-nav.active {
    display: block;
  }
  
  @media (max-width: 768px) {
    .menu {
      display: none;
    }
  
    .mobile-menu-toggle {
      display: block;
    }
  
    .mobile-nav {
      display: flex;
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
      transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
    }
  
    .mobile-nav.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  
    .mobile-nav a {
      color: white;
      padding: 10px 20px;
      text-decoration: none;
    }
  
    .mobile-menu-toggle.active {
      color: #007bff;
    }
  }
  